.Wraper {
    height: 100vh;
    margin-top: 3.82rem;
    z-index: 10;
    .Hero {
        // background-color: antiquewhite;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .PartnerName {
            font-family: Next Regular;
            font-size: 4rem;
            text-transform: lowercase;
            font-weight: 400;
            color: #fff;
        }

        .Label {
            font-family: Plus Jakarta Sans;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 600;
            opacity: 0.5;
            color: #fff;
        }
    }
}
